$imgs : (1 : "review_1.jpg", 2: "review_2.jpg", 3: "review_3.jpg", 4: "review_4.jpg");
$color: #5b678d;

#review {
    width:100%; padding:180px 0px; box-sizing:border-box; 

    .inner {
        width:1180px; margin:0px auto; position:relative;

        h1 {
            font:bold 16px/1 'Barlow', sans-serif; margin-bottom:30px; color: #6a96b1;
        }

       

        .wrap {

            &::after {content:''; display: block; clear: both;}

            >article:nth-of-type(1) {
                width:30%; float:left; color:#2d4553; font: 28px/1.4 'Barlow', sans-serif;
                opacity: 0; transform: translateX(-200px); transition: 0.5s; transition-delay: 0.3s;
            }
            >article:nth-of-type(2) {
                width:40%; float:left; margin-left:10%;
                font:normal 16px/1.7 'Barlow', sans-serif; color:#444; opacity: 0;transform: translate(200px, 200px); transition: 0.5s; transition-delay: 0.5s;
            }
            >article:nth-of-type(3) {
                width:100%; float:left; margin-top:80px; opacity: 0; transform: translateY(200px); transition: 0.5s; transition-delay: 0.7s;

                >ul {
                    width:100%;

                    >li {
                        width:280px; background:#fff; float:left; margin-right:20px; box-sizing:border-box; padding:30px 24px; border:1px solid #bbb;

                        h2 {
                            font:bold 14px/1 'arial'; color:#555; margin-bottom:25px;

                            i {
                                margin-right:20px; color: #6a96b1; display:inline-block; transform-origin:left center; transform:scale(1.8); opacity:0.8;
                            }
                        }

                        .pic {
                            width:100%; height:230px; background:#999; margin-bottom:20px; position:relative;
                            overflow:hidden; display:flex; justify-content:center; align-items:center;

                            >a {
                                display:inline-block; padding:6px 20px; border:1px solid #fff;
                                font:12px/1 'arial'; color:#fff; 
                                position:relative; z-index:3; transition:0.5s;
                                transform:translateY(100px); opacity:0;
                            }

                            &::before {
                                content:''; display:block; position:absolute; top:0px; left:0px;  width:100%; height:100%;
                                background-repeat:no-repeat; background-size:cover; background-position:center;
                                transition:0.5s;
                            }
                            &::after {
                                content:''; display:block; position:absolute; top:0px; left:0px; width:100%; height:100%; display:flex; justify-content:center; align-items:center;                             
                                background-color:rgba(0,0,0,0.7); opacity:0; transition:0.5s;
                            }

                            &:hover {
                                a {opacity:1; transform:translateY(0px);}
                                &::before {transform:scale(1.1);}
                                &::after {opacity:0.7;}

                            }
                            
                        }

                        p {
                            font:14px/1.4 'arial'; color:#777; margin-bottom:40px;
                        }

                        a {
                            font:bold 14px/1 'arial'; color:#2d4553;
                        }

                        &:last-child {margin-right:0px;}
                    }

                    @each $key, $img in $imgs {   
                        >li:nth-of-type(#{$key}) .pic::before {background-image: url(../img/#{$img});}                       
                    }
                }
            }
        }
        
    }

    &.on {
        .inner .wrap {
            >article {
                &:nth-of-type(1) {opacity: 1; transform: translate(0,0);}
                &:nth-of-type(2) {opacity: 1; transform: translate(0,0);}
                &:nth-of-type(3) {opacity: 1; transform: translate(0,0);}
            }
        }  
    }
}

/* tablet */
@media screen and (max-width:$tablet){
    #review {
        padding:120px 40px;

        .inner {
            width:100%;

            .wrap>article {

                &:nth-of-type(1) {width: 30%; }
                &:nth-of-type(2) {width: 60%; float: right; margin-top: 30px;}
                &:nth-of-type(3) {
                    ul>li {
                        width:48%; margin-bottom:30px; margin-right:4%;
                        &:nth-of-type(2n) {margin-right:0px;}
                    }
                } 
            }
        }
    }
}

/* mobile */
@media screen and (max-width:$mobile){
    #review {
        padding:100px 40px;

        .inner {
            .wrap>article {
                &:nth-of-type(1) {width:100%; margin-bottom:30px; }
                &:nth-of-type(2) {width:100%; margin-left:0%;}
                &:nth-of-type(3) {
                    ul>li {
                        width:100%; margin-bottom:30px; margin-right:0%;                        
                    }
                } 
            }
        }
    }
}