#visual {
    width: 100%; 
    
    .inner {
        width: 100%; 

        .slideshow {
            background: #555; width: 100%;  height: 100vh; overflow: hidden;  position: relative; box-sizing: border-box;

            .slideshowSlides {
                position: absolute; width: 100%; height: 100%;

                >a {
                    position: absolute; width: 100%; height: 100%; cursor: pointer;

                    img {width: 100%; height: 100vh; object-fit: cover;}

                    .slideTxt1 {
                        
                        h2 {
                            position: absolute; font: 47px/1 'Barlow', sans-serif; color: #fff; top: 20%; left: 20%;  padding-left: 10px; transition: all 0.5s; text-shadow: 5px 5px 10px rgba(0,0,0,0.4);
                        
                            span {font: 500 47px/1 'Barlow', sans-serif; color: #fff;display: block; margin-left: 150px; text-shadow: 5px 5px 10px rgba(0,0,0,0.4);}
                
                            &::before {content:''; display: block; width: 4px; height: 100%; background: #fff; position: absolute; top: 0; left: 0; text-shadow: 5px 5px 10px rgba(0,0,0,0.4);}
                        }
                    }

                    .slideTxt2 {
                        position: absolute; right: 10%; top: 70%;  text-align: right;
                        p {
                            i {font-size: 40px; color: #fff;}
                            span {width: 45px; display: inline-block;}
                            font: italic 25px/1.2 'Barlow'; color: #eee; margin-bottom: 20px; text-shadow: 5px 5px 10px rgba(0,0,0,0.4);
                        }
                        h2{
                            font: 500 italic 18px/1 'Barlow'; color: #bbb;text-shadow: 5px 5px 10px rgba(0,0,0,0.4);
                            span {width: 40px; display: inline-block;}
                        }
                    }
                    .slideTxt3 { z-index: 5;
                        position: absolute; right: 10%; top: 15%; padding: 30px; background: rgba(255,255,255,0.3);
                        h2 {font: 600 60px/1 'Barlow'; color: rgba(51, 51, 51, 0.9); text-shadow: 5px 5px 10px rgba(0,0,0,0.4); margin-bottom: 10px;}
                        p {font: 20px/1 'Roboto'; color: rgba(51, 51, 51, 0.9); text-shadow: 5px 5px 10px rgba(0,0,0,0.4); text-indent: 5px; margin-bottom: 30px; text-align: right;}
                        >div {
                            text-align: center; display: block; width: 40%; margin-left: 60%; box-sizing: border-box; height: 40px; font: 500 20px/40px 'Roboto'; color: rgba(51, 51, 51, 0.9); text-shadow: 5px 5px 10px rgba(0,0,0,0.4); border: 1px solid  rgba(51, 51, 51, 0.9); background: rgba(51, 51, 51, 0.2); cursor: pointer; z-index: 3;

                            &:hover {
                                color: #fff; background: rgba(0,0,0,0.7);
                            }
                        }
                    }

                    .slideTxt4 { z-index: 5;
                        position: absolute; color: #fff; left: 15%; top: 20%; padding: 30px 40px; background: rgba(0,0,0,0.3);
                        p {
                            font: 20px/1 'Roboto'; text-shadow: 5px 5px 10px rgba(0,0,0,0.6); 
                        }
                        h2 {
                            font: 600 70px/1.3 'Barlow'; color: #fff; text-shadow: 5px 5px 10px rgba(0,0,0,0.6); border-bottom: 5px solid #fff; display: inline-block;
                        }
                    }
                }
            }

            .slideshowNav {
                width: 100%; position: absolute; height: 100%; 

                a.visualPrev {
                    width: 40px; height: 40px; display: block; position: absolute; left: 10%; top: 50%; transform: translateY(-50%); 

                    span:nth-child(1) {display: block; width: 80%; height: 3px; background: #fff; position: absolute; left: 0; top: 50%; transform: translateY(-50%) rotate(-45deg); transform-origin: left; border-radius: 1px;box-shadow: 2px 2px 5px rgba(0,0,0,0.4);}
                    
                    span:nth-child(2) {display: block; width: 80%; height: 3px; background: #fff; position: absolute; left: 0; top: 50%; transform: translateY(-2px ) rotate(45deg); transform-origin: left; border-radius: 1px; box-shadow: 2px 2px 5px rgba(0,0,0,0.4);}
                }

                a.visualNext {
                    width: 40px; height: 40px; display: block; position: absolute; right: 10%; top: 50%; transform: translateY(-50%); text-indent: -99999px; 
                  
                    span:nth-child(1) {display: block; width: 80%; height: 3px; background: #fff; position: absolute; left: 0; top: 50%; transform: translateY(-50%) rotate(-45deg); transform-origin:  right; border-radius: 1px;box-shadow: 2px 2px 5px rgba(0,0,0,0.4);}
                    span:nth-child(2) {display: block; width: 80%; height: 3px; background: #fff; position: absolute; left: 0; top: 50%; transform: translateY(-1px ) rotate(45deg); transform-origin: right; border-radius: 1px;box-shadow: 2px 2px 5px rgba(0,0,0,0.4);}
                }

                a.disabled {display: none;}
            }
        }

        .indicator {
            z-index: 3; position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);

            &::after {content:''; display: block; clear: both;}

            a {
                float: left; display: block; width: 50px; height: 5px; background: rgba(0,0,0,0.4); text-indent: -99999px; margin-right: 10px; 

                &.active {background: #fff;}
                &:last-of-type {margin-right: 0;}
            }
        }
        
    }
}

/* tablet */
@media screen and (max-width:$tablet){
    #visual {
        .inner {
            .slideshow {
                height: 600px; 
    
                .slideshowSlides {
    
                    >a {
    
                        img {height: 600px; }
    
                        .slideTxt1 {
                            h2 {
                                font: 40px/1 'Barlow', sans-serif; left: 10%;  
                            
                                span {font: 500 42px/1 'Barlow', sans-serif;margin-left: 120px; }
                            }
                        }
    
                        .slideTxt2 {
                            p {
                                i {font-size: 30px;}
                                span {width: 35px;}
                                font: italic 20px/1.3 'Barlow';
                            }
                        }
                        .slideTxt3 { 
                            right: 10%; top: 15%; padding: 20px;
                            h2 {font: 600 50px/1 'Barlow';text-align: right;}
                            p {font: 18px/1 'Roboto';}
                           
                        }
    
                        .slideTxt4 {
                            left: 10%; top: 15%; padding: 20px; text-align: center;
                            p {
                                font: 18px/1 'Roboto'; 
                            }
                            h2 {
                                font: 600 40px/1.3 'Barlow'; border-bottom: 4px solid #fff;
                            }
                        }
                    }
                }
    
                .slideshowNav {
                    a.visualPrev {left: 5%;}
                    a.visualNext {right: 5%;}
                }
            }
    
            .indicator {    
                a {
                    width: 45px;
                }
            }
            
        }
    }
}


/* mobile */
@media screen and (max-width:$mobile){
    #visual {
        .inner {
            .slideshow {
                height: 500px; 
                .slideshowSlides {
                    >a {
                        img {height: 500px; }
                        .slideTxt1 {
                            h2 {
                                font: 34px/1 'Barlow', sans-serif; left: 10%;  
                            
                                span {font: 500 38px/1 'Barlow', sans-serif;margin-left: 80px; }
                            }
                        }
    
                        .slideTxt2 { 
                            top: 65%; width: 90%;  right: 5%;
                            p {
                                font-size: 18px;
                                i {font-size: 22px;}
                                span {width: 25px;}
                            }
                            h2{font-size: 16px;}
                        }
                        .slideTxt3 { 
                            right: 50%;  padding: 15px; top: 12%; transform: translateX(50%); width: 90%; box-sizing: border-box;
                            h2 {font: 600 40px/1 'Barlow';text-align: right;}
                            p {font: 15px/1 'Roboto'; margin-bottom: 0px;}
                            >div {
                               height: 30px; line-height: 30px; width: 50%; margin-left: 50%; font-size: 16px; display: none;
                            }
                        }

                        .slideTxt4 {
                            left: 50%; top: 15%; padding: 20px; text-align: center; transform: translateX(-50%);
                            p {
                                font: 18px/1 'Roboto'; 
                            }
                            h2 {
                                font: 600 40px/1.3 'Barlow'; border-bottom: 4px solid #fff;
                            }
                        }
                    }
                }
            }

            .indicator {    
                a {
                    width: 35px;
                }
            }
        }
    }
}